<section class="intro container separator">
    <a id="about"></a>
    <p>
        Hey there! Thank you for checking out Sauce. My name is Gaya Kessler and I create
        all sorts of things and write about it here on this little blog.
    </p>
</section>
