code {
  background: #333841;
  color: #d6dae1;
  padding: 0.25em;
  margin: -0.5em 0;
}

.highlight {
  margin: 1em 0;
  background: #272c34;
  color: #d6dae1;
  line-height: 1.8em;
  overflow: auto;

  table {
    border-collapse: collapse;
  }

  .gutter {
    color: #5c6370;
    padding: 0 1em;
    border-right: 2px solid #5c6370;
  }

  pre {
    margin: 0;
  }

  .code {
    padding: 0 1em;
  }

  .keyword, .built_in, .literal {
    color: #c678dd;
  }

  .regexp {
    color: #57b6c2;
  }

  .function_ {
    color: #61afef;
  }

  .class_ {
    color: #e06c75;
  }

  .comment {
    color: #5c6370;
  }

  .attr, .number {
    color: #d19a66;
  }
}
